.text{
    display: flex;
    flex-direction: column;
    font-size: small;
    list-style-type: none
}

.text2{
    text-align: left;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 150%;
          color: #DCDCDC;
}

.jobs{
    padding: 10px 30px 0px 20px;
    display:flex;
    flex-direction: column;
    max-width: 369px;
    flex-wrap: none;
    
    
    }

.CVContainer{
    display:flex;
    flex-direction: column;
    max-width: max-content;
    flex-wrap: none;
    color: white;
    padding: 10px;
  
    
}

.logo{
    display: flex;
    height: 50px;
    align-self:center;

}

