html,
main {
  background-color: #1a1b21;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #1d1d8b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
  padding: 0px;
  margin: 0px;
}

.linksIcons {
  position: relative;
  right: 35px;
  top: 0px;
}
.container {
  min-height: 100vh;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1a1b21;
  position: relative;
  left: 0px;
  top: -50px;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePic {
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px 10px 0px 0px;
}

.name {
  font-size: vh100;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  padding: 15px 15px 5px 15px;
  margin: 0;
}
.curJobTitle {
  color: #f3bf99;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: vh100;
  line-height: 15px;
  text-align: center;
  padding: 0px;
  margin: 0;
}
.website {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: vh100;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
  padding: 0px;
  margin: 0;
}
.about {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: vh100;
  line-height: 150%;
  color: #f5f5f5;
  padding: 0px 0px 0px 15px;
}
.aboutDesc {
  text-align: justify;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: vh100;
  line-height: 150%;
  color: #dcdcdc;
  width: 300;
  padding: 1px 15px 40px 15px;
}
.cardContainer {
  min-width: vh100;
  margin: 1rem;
  flex-basis: 45%;
  padding: 0rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: #1a1b21;
  width: 369px;
}

.cardFooterRow {
  border-radius: 0px 0px 10px 10px;
  border-color: white;
  display: flex;
  background-color: black;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.cardFooterColumn {
  flex: 50%;
  padding: 15px;
  margin: 0px;
}
